.board-wrapper {
  margin: auto;
  width: 20%;

}

.board-columns {
  height: 100px;
  width: 75px;
  border: 1px solid #ccc;
  padding: 0 !important;
}

.board-square {
  width: 100%;
  height: 100%;
  font-size: 80px;
  color: #fff;

}